In [4]:
sum=count=done=0
average=0.0
while(done!= -1):
    rating=float(input("Enter  next rating(1-5),-1 for done"))
    if rating == -1:
        break
    sum+= rating
    count+=1
average=float(sum/count)
print("the average star rating  for new coffee is:{:.2f}".format(average))

Enter  next rating(1-5),-1 for done 1
Enter  next rating(1-5),-1 for done 2
Enter  next rating(1-5),-1 for done 3
Enter  next rating(1-5),-1 for done 4
Enter  next rating(1-5),-1 for done 5
Enter  next rating(1-5),-1 for done -1

the average star rating  for new coffee is:3.00

In [8]:
print('v:{:.2f}'.format(123.456))
print('v:{:.2f}'.format(123.4))
print('v:{:8.2f}'.format(1.45678))
print('v:{:08.2f}'.format(1.45678))

v:123.46
v:123.40
v:    1.46
v:00001.46

In [19]:
name=input("Enter your name")
score=0
count=0
sum=0
while (score != -1):
    score=int(input("Enter you score:(-1 to end)"))
    if score == -1:
        break
    sum+= score
    count += 1
average_score=sum/count
print("%-20s,your score is : %4.1f"%(name ,average_score))

Enter your name akshada jadhav
Enter you score:(-1 to end) 52
Enter you score:(-1 to end) 56
Enter you score:(-1 to end) 52
Enter you score:(-1 to end) 58
Enter you score:(-1 to end) 59
Enter you score:(-1 to end) -1

akshada jadhav      ,your score is : 55.4

In [ ]:
numbers=[0,1,2,3,4,5,6,7,8]
index=0
while(index<10):
    print(numbers[index])
if numbers[index]==6:
    break
else:
    index += 1

In [5]:
e_no=input("Enter the employee number(dd_dd_dddd):")
parts=e_no.split("_")
valid=False
if len(parts)==3:
    if len(parts[0])==2 and len(parts[1])==3 and len(parts[2])==4:
        if len(parts[0])==isdigit() and len(parts[1])==isdigit() and len(parts[2])==isdigit():
            valid=True
print(valid)

Enter the employee number(dd_dd_dddd): 12 233 2024

False

In [6]:
def var(a,b):
    if a>=0:
        answer=a**(1/b)
    elif a%2 ==0:
        answer="result is an imaginary no"
    else:
        answer=-(-a)**(1/b)

    return answer

In [8]:
var(10,6)

1.4677992676220695

In [10]:
var(-2,-3)

'result is an imaginary no'

In [11]:
var(-1,3)

-1.0

In [15]:
d=input("Enter the day of Week:")
discount_percentage = 6

if d== "Monday":
    discount_percentage +=5

if d== "Tuesday":
    discount_percentage +=12

if d== "Saturday":
    discount_percentage +=5

if d== "Sunday":
    discount_percentage +=13

else:
    discount_percentage += 2
    
    
print(discount_percentage)

Enter the day of Week: Tuesday

20

In [17]:
amount=float(input("Enter loan amount"))
interest_rate=0
if amount >0 and amount <= 50000:
    interest_rate=10

elif amount0 > 50000 and amount< 100000:
    interest_rate=12

elif amount0 > 10000 and amount< 150000:
    interest_rate=16

else:
    interest_rate=22

print(interest_rate)

Enter loan amount 50000

10

In [5]:
days=int(input("Enter the no of days for leave:"))
cause=input("Enter the cause")
if days==1:
    print("leave will be approved immediately")
elif days>1 and days<=3:
    if cause=="sick":
        print("leave will be approved immediately:")
    else:
        print("Needs lead approval")

elif days>3 and days<5:
    if cause=="personal":
        print("Needs Manager approval")
    else:
        print("Needs Director Approval")

elif days>=5 and days<=10:
    print("Needs Director  Approval")

Enter the no of days for leave: 5
Enter the cause sick

Needs Director  Approval

In [8]:
marks=[30,40,50,45,50,100]
average=sum(marks)//len(marks)
grades={1:'A',2:'B',3:'C',4:'D'}

if average>=90 and average<=100:
    key=1

elif average>=80 and average<90:
    key=2

elif average>=50 and average<80:
    key=3

else:
    key=4

print(grades[key])

C

In [9]:
a=12
b=4
s="He shall not be happy if he does not do work"

In [13]:
result =s.find("not")if s else None

In [14]:
result

9

In [15]:
result =s.rfind("not")if s else None

In [16]:
result

33

In [19]:
result=3 if None else a/b

In [20]:
result

3.0

In [22]:
collected_amount=3000
commission=0
if collected_amount <=2000:
    commission=50

elif collected_amount >2500 and collected_amount<3000:
    commission=100
elif collected_amount >2500:
    commission=150
    if collected_amount>=3000:
        commission+=200

In [24]:
collected_amount

3000

In [25]:
commission

350

In [26]:
order_value=1500
state='ap'
delivery_charge=0
if state in ['up','mp','ts']:
    if order_value<=1000:
        delivery_charge=50
    elif order_value>1000 and order_value<2000:
        delivery_charge=100
    else:
        delivery_charge=150

else:
    delivery_charge=25

if state in ['lp','kp','ap']:
    if order_value>1000:
        delivery_charge+=20

    if order_value<2000 and state in ['kp','ap']:
        delivery_charge=+30
    else:
        delivery_charge +=15

print(delivery_charge)

30

In [28]:
l=[10,20,[30,40],[50,60]]
count=0
for i in range(len(l)):
    if type(l[i])==list:
        count=count+1

print(count)

2

In [29]:
l=[10,(20,),{30},{},{},[40,50]]
count=0
for i in range(len(l)):
    if type(l[i])==list:
        count+=1
    elif type(l[i])==tuple:
        count+=2
    elif type(l[i])==set:
        count+=3

    elif type(l[i])==dict:
        count+=4
    else:
        count+=5

print(count)

19

In [32]:
t=(2,4,6,8,10,12)
d={1:'A',2:'B',3:'C',4:'D',5:'E',6:'F'}
result=1
for t1 in t:
    if t1 in d:
        result +=t1

print(result)

13

In [33]:
t=(2,4,6,8,10,12)
d={1:'A',2:'B',3:'C',4:'D',5:'E',6:'F'}
result=1
for t1 in t:
    if t1 in d:
        continue
    else:
        result+=t1

print(result)

31

In [34]:
values=[[3,4,5,1],[33,6,1,2]]
v=values[0][0]
for lst in values:
    for element in lst:
        if v>element:
            v=element

print(v)

1

In [37]:
values[0][0]

3

In [40]:
def get_names():
    names=['sunny','bunny','chinny','vinny','pinny']
    return names[2:]

def update_names(elements):
    new_names=[]
    for name in elements:
        new_names.append(name[:3].upper())
    return new_names

print(update_names(get_names()))

['CHI', 'VIN', 'PIN']

In [91]:
def list1(a,lst=[]):
    lst.append(a)
    return lst

list1('chiken')
list1('mutton')
print(list1('fish'))

#to print the following to the console
#['chiken','mutton','fish']

['chiken', 'mutton', 'fish']

In [92]:
def f1(x=0,y=0):
    return x+y

In [94]:
f1(2,3)

5

In [95]:
f1()

0

In [97]:
numbers=[100,20,10,70,50,60,40,30,90,80]
def find_numbers():
    numbers.sort()
    return numbers[0],numbers[-1]
low,high=find_numbers()
print("The highest number:{} and least number:{}".format(high,low))

The highest number:100 and least number:10

In [98]:
def calculate(amount=6,factor=3):
    if amount>6:
        return amount*factor
    else:
        return amount*factor*2

In [99]:
calculate()

36

In [100]:
calculate(30)

90

In [101]:
calculate(10)

30

In [103]:
def fib_seq(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib_seq(n-1)+fib_seq(n-2)

for i in range(7):
    print (fib_seq(i),end=",")

0,1,1,2,3,5,8,

In [104]:
def update_score(score,value):
    new_score=score+value
    return new_score

In [105]:
update_score(20,52)

72

In [112]:
def get_name():
    name=input("Enter your name")
    return name

def calc_calories(miles,calories_per_mile):
    calories=miles*calories_per_mile
    return calories

distance=int (input("How many miles did you bike this week"))
burn_rate=50
biker=get_name()
calories_burned=calc_calories(distance,burn_rate)
print(biker,",you burned about",calories_burned,"calories")

How many miles did you bike this week 2500
Enter your name klk

klk ,you burned about 125000 calories

In [115]:
def get_rating(age):
    if age >=18:
        print("A")
    elif age >=13:
        print("t")
    else:
        print("C")

In [116]:
get_rating(25)

A

In [28]:
def count_letter(letter,word_list):
    count=0
    for word in word_list:
        if letter in word:
            count+=1
    return count

word_list=['apple','pears','orange','mango']
letter=input("Enter the alphabet symbol:")
letter_count=count_letter(letter,word_list)
print(letter_count)

Enter the alphabet symbol: r

2

In [7]:
startmsg="hello"
endmsg=""
for i in range (0,len(startmsg)):
    endmsg=startmsg[i]+endmsg
    print (endmsg)

h
eh
leh
lleh
olleh

In [9]:
x=[13,4,17,10]
w=x[1:]
u=x[1:]
y=x
u[0]=50
y[1]=40
print(x)

[13, 40, 17, 10]

In [11]:
marks=int(input("Enter student Marks"))
if marks>=90:
    grade="A"
elif marks >=80:
    grade="B"
elif marks >=70:
    grade="C"

elif marks >=65:
    grade="D"

else:
    grade ="E"

print(grade)

Enter student Marks 35

E

In [12]:
productIdlist=[0,1,2,3,4,5,6,7,8,9]
index=0
while index<len(productIdlist):
    print(productIdlist[index])
    if productIdlist[index]==6:
        break
    else:
        index+=1

0
1
2
3
4
5
6

In [17]:
p=2
while p<=200:
    is_prime=True
    for i in range(2,p):
        if p%i==0:
            is_prime=False
            break

    if is_prime==True:
        print(p)
    p=p+1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [16]:
p=2
while p<=200:
    is_prime=True
    for i in range(2,p):
        if p%i==0:
            is_prime=False
            break

    if is_prime==True:
        print(p)
    p=p+1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [27]:
rooms={1:"left conference room",2:"Right Conference Room"}
room=input("Enter the room number:")
if  room not in rooms:
    print('room does not exist')

else:
    print("The room name is:"+rooms[room])

Enter the room number: 1

room does not exist

In [53]:
ontime=input("Was Book returned before 9 pm? y or n:").lower()
days_rented=int(input("how many days was book rented"))
day_rented=input(" what the day book rented").capitalize()
cost_per_days=3.00
if ontime == "n":
    days_rented=days_rented+ 1
    if day_rented=="Sunday":
        total=(days_rented*cost_per_days)*0.5
        
    elif days_rented=="Saturday":
        total=(days_rented*cost_per_days)*0.7
    
    else:
        
        total=days_rented*cost_per_days


print("the cost of book rental is:$",total)

Was Book returned before 9 pm? y or n: n
how many days was book rented 5
 what the day book rented Sunday

the cost of book rental is:$ 9.0

In [61]:

    marks=90
    if 80<=marks <=100:
        grade="A"

    print(grade)

A

In [ ]:
s=20
r=10
a=['a','b','c','d']
for i in a:
    a.append(i.upper())
    if r<s:
        r=r+1
        break

print(a)

In [2]:
os.getcwd()

NameError: name 'os' is not defined

In [3]:
import os

In [ ]:
os